.bodyHeight{
    min-height: 83vh;
}

.text-editor .ql-editor{
    min-height: 600px;
}

.hideToolbar .ql-editor{
    border-top: 1px solid grey;
}

.hideToolbar .ql-toolbar.ql-snow{
    display: none;
}

.ui.dimmer{
    background-color: rgba(0,0,0,.25);
}