.bodyHeight{
    min-height: 83vh;
}

.text-editor .ql-editor{
    min-height: 600px;
}

.hideToolbar .ql-editor{
    border-top: 1px solid grey;
}

.hideToolbar .ql-toolbar.ql-snow{
    display: none;
}